.product{
    border: 2px solid #ccc;
    padding: 1rem;
    width: 350px;
    margin-bottom: 1rem;
}

.card{
    width: 250px;
    border: 2px solid #ccc;
    padding: 1rem;
}

.card img{
    width: 100%;
}